ul{
    width: 100%;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    flex-flow: row wrap;
    display: block;
    display: flex;
}

li{
    list-style: none;
    margin: .5vw;
    width: 350px;
}

@media screen and (max-width:400px){
    li{
        margin: 2%;
    }
}

.gift{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 33vh;
    float: bottom;
    width: 100vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
    background: #0891d7;
}

.gift i{
    color: white;
    width: 200px;
    opacity: 1;
}



